<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562989403224-0bam0bj6002e7aj2lhgajdkha5qs3b1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562989403224-0bam0bj6002e7aj2lhgajdkha5qs3b1o</string>
	<key>API_KEY</key>
	<string>AIzaSyDUMSMv2aMD38B2CPIuqLF-BkwLJ4aeMNw</string>
	<key>GCM_SENDER_ID</key>
	<string>562989403224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oleggnashuk.Gannimede</string>
	<key>PROJECT_ID</key>
	<string>gannimede-9f6d6</string>
	<key>STORAGE_BUCKET</key>
	<string>gannimede-9f6d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562989403224:ios:04424991341dd29a778e2d</string>
	<key>DATABASE_URL</key>
	<string>https://gannimede-9f6d6.firebaseio.com</string>
</dict>
</plist>